* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #436ee5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.backlogo {
  /* // background-image: url('../components/images/backlogo.gif'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 30%;
  height: 80vh;
  position: absolute;
  left: 15px;
  top: 10%;
  z-index: -1;

}

.backlogo2 {
  /* // background-image: url('../components/images/jslogo.gif'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 30%;
  height: 50vh;
  position: absolute;
  right: 15px;
  top: 10%;
  z-index: -1;

}

.quiz5 {
  margin: 0 auto;
}

.quizContainer {
  width: 800px;
  border-radius: 4px;
  padding: 30px 0;
  border: 1px solid rgb(112, 107, 76);
  box-shadow: -3px 2px 5px 4px rgb(104, 104, 104);
  background-color: #fff;
  /* // background-image: url('../components/images/backlogo4.png'); */
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 140px;

}

.quizContainer .activeQuestionNo {
  font-size: 32px;
  text-shadow: -5px 0px 0px rgb(80, 80, 80);
  font-weight: 900;
  color: #ddc583;
}

.quizContainer .totalQuestion {
  font-size: 19px;
  text-shadow: -3px 0px 0px rgb(80, 80, 80);
  font-weight: 900;
  color: #ddc583;

}



.quizContainer ul {
  padding: 20px 30px;
  width: 80%;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
}

.questionh3 {
  /* background-color: rgb(255, 255, 255); */
  text-align: center;
  height: 80px;
  padding: 20px;
  width: 100%;
  overflow: hidden;

}

.questionHeader {
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid black;
}
.questionHeader h2{
  padding: 15px 70px;
  border-bottom: 3px solid blue;
  width: 50px;
  white-space: nowrap;
}
.questionCounter{
  background-color: #becdfb;
  width: 120px;
  height: 30px;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}
.questionCounter1{
  color: #050b45;
  font-size: 18px;
  white-space: nowrap
}
.questionCounter2{
  background-color: #525355;
  color: #fff;
width: 60px;
height: 50px;
padding: 4px 15px;
margin-left: 10px;
border-radius: 4px;
overflow: hidden;
}
.questionh3 h3 {
  font-size: 19px;
  width: 100%;

}

.quizContainer ul li {
  text-decoration: none;
  width: 700px;
  list-style: none;
  color: #424242;
  font-size: 16px;
  background: #dfe7f9;
  border: 1px solid #313131;
  border-radius: 4px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.quizContainer ul .selectedAnswer {
  background: #bffacc;
  border: 1px solid #008000;
}

.quizContainer button {
  background: linear-gradient(90.04deg, #3c5fdb 0.03%, #414dbb 99.96%);
  border-radius: 3px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  box-shadow: -3px 0px 3px 1px rgb(169, 167, 167);
  margin-right: 45px;

}

.quizContainer button:disabled {
  background: #81c8f8;
  color: #ffffff;
  cursor: not-allowed;
}

.flexRight {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.quizFooter {
  width: 100%;
  height: 50px;
  margin: 0;
  border-top: 1px solid rgb(111, 111, 111);


}

.quizFooterRow {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}

.quizFooterRow2 {
  margin: 20px 30px;
  font-size: 18px;
  font-weight: 600;
  color: #525151;

}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.result p span {
  color: #025c0e;
  font-size: 22px;
}

.resultrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 400px;
  box-shadow: -3px 0px 5px 4px rgb(104, 104, 104);
  background-color: rgb(247, 248, 208);
  ;

}

.resultrow1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted black;
  padding: 2px;
  font-size: 20px;
  font-weight: 700;
  width: 300px;
  color: #4a4949;
  padding-bottom: 20px;
  margin-top: 10px;

}

.Resultbutton {
  width: 100%;
  display: flex;
  justify-content: right;
}

.resultrow button {
  border: none;
  color: white;
  background: linear-gradient(rgb(58, 58, 241), rgb(118, 118, 226));
  padding: 10px;
  margin-top: 20px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;

}

.resultrow button:hover {

  background: linear-gradient(rgb(143, 143, 252), rgb(164, 164, 255));
}

.resultrow2 {
  box-shadow: -3px 0px 5px 4px rgb(104, 104, 104);
  background-color: rgb(247, 248, 208);


}
.nav1  {
  position: absolute;
  left: 0;
  top: 20px;
  text-align: center;

}
.nav1 h1{
  text-shadow: -5px 0px 0px rgb(80, 80, 80);
  font-weight: 800;
  padding: 10px;
  color: #cccccc;
  margin-left: 20px;
  font-size: 32px;
}
.quizContainer ul .incorrect{
  background: #fa9797;
  border: 1px solid #80001a;
}
.resultHeader {
  width: 100%;
  text-align: center;

}
.falsed{
  border: 2px solid #ac0123;
  border-radius: 50%;
  font-size: 18px;
  color: #bb0227;
  padding: 0 4px;
  font-weight: 700;}
.correct{
  border: 2px solid #008013;
  border-radius: 50%;
  font-size: 18px;
  color: #048b33;
  padding: 0 4px;
  font-weight: 700;
}
.resultrow h2 {
  text-shadow: -5px 0px 0px rgb(168, 168, 168);
  color: #436ee5;
  font-weight: 900;
  font-size: 30px;
  text-align: center;

}

.quizcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
  margin-top: 10px;


}

.resultrow2 {
  /* // background-image: url('../components/images/backlogo4.png');  */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  background-color: #fefeff;

}

/* loading */
@keyframes load {
  0% {
    opacity: 0.08;
    filter: blur(5px);
    letter-spacing: 3px;
  }

  100% {}
}

.animate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-family: Helvetica, sans-serif, Arial;
  animation: load 3.2s infinite 0s ease-in-out;
  animation-direction: alternate;
  text-shadow: -5px 0px 0px rgb(80, 80, 80);
  font-weight: 900;
  color: #ddc583;

}

.audo {
  display: none;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  color: black;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(61, 61, 61);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: 0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.loa {
  display: flex;
  text-align: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  position: relative;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));

}